* {
    padding: 0;
    margin: 0;
}

:root[data-mode="dark"] {
    --bgColor: #1e1b18;
    --bgSecond: #0c0706;
    --accent: #f1ece9;
    --bgThird: #e5e0df;
    --textColor: #cdcdcd;
}

:root[data-mode="light"] {
    --bgColor: #F5F3E7;
    --bgSecond: #c0392b;
    --accent: #e5e0db;
    --bgThird: #f0e5e3;
    --textColor: #2c2c2c;
}

html {
    background-color: var(--bgColor);
    color: var(--textColor);
}




main h1 {
    display: flex;
    justify-content: center;
}

main form {
    padding: 30px;
    justify-content: center;
    margin-left: 70px;
}

main input {
    display: flex;
    align-items: center;
    width: 100%;
}

hr {
    border: none;
    height: 2px;
    background-color: #1B8728;
}

h1,
header span {
    font-family: 'playfair display', sans-serif;
    font-style: italic;
    font-weight: 600;
}

.header {
    background-color: #119822;
}

nav ul li a {
    display: none;
    text-decoration: none;
    font-size: 2rem;
    background-color: #31440c;
    color: yellowgreen;
    border: 1vw solid #9acd32;
    width: 38vw;
    height: 8vh;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
}

li {
    margin-bottom: 5px;
}

.logoFooter {
    margin-left: 45%;
    width: 40px;
}

.menu {
    list-style: none;
}

.reserveer-nummer {
    background-color: #119822;
    color: #f1f1f1;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}

.reserveer {
    font-family: 'playfair display', sans-serif;
    font-style: italic;
    font-weight: 600;
}

.material-icons,
.material-symbols-outlined {
    color: #f1f1f1;
}

.icons-logo {
    display: flex;
    align-items: center;
    margin-right: 55px;
}

.icons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.iconsFooter {
    width: 45%;
}

.socialLogo img {
    width: 20px;

}

.socialLogo {
    text-align: center;
}

.tijdDatum {
    display: flex;
    width: 50%;
    gap: 10px;
}

.tijdDatum input {
    width: 40%;
}

.info-sectie {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
    max-width: 800px;
    margin: 40px auto;

}

.openingstijden,
.locatie {
    background-color: white;
    padding: 20px;
    border-radius: 12px;

}

.openingstijden h2,
.locatie h2 {
    margin-bottom: 15px;
    font-family: "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap";

}

.verzenden {
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;

}

.input1 {
    color: #f1f1f1;
    background-color: #119822;
    border: none;
    height: 30px;

}

footer {
    background-color: #119822;
}

.foto img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

footer p {
    color: white;
}

/* tellie*/
@media(max-width:576px) {
    .logoFooter img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
    }

    .foto img {
        display: none;
    }

    .logo-img {
        width: 50px;
        height: auto;
        margin: 10px;
    }

    .info-sectie {
        flex-direction: column;
        padding: 10px;
        width: 80%;
    }

    .openingstijden,
    .locatie {
        width: 100%;
    }
}



/* tablet*/
@media(min-width:576px) and (max-width:991px) {
    .logo-img {
        width: 60px;
        height: auto;
        margin: 10px;

    }

    .foto img {
        display: none;
    }

    .info-sectie {
        flex-direction: column;
        padding: 10px;
        width: 80%;
    }


    .logoFooter img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
    }

}

/* laptop*/
@media(min-width:992px) and (max-width:1500px) {
    .logo-img {
        width: 80px;
        height: auto;
        margin: 10px;
    }

    .foto img {
        width: 60%;
        margin-left: auto;
    }

    .info-sectie {
        flex-direction: column;
        padding: 10px;
        width: 80%;
    }


    .logoFooter img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
    }

    .menu {
        gap: 5px;
    }

    .info-sectie {
        grid-template-columns: repeat(2, 1fr);
    }
}