* {
    padding: 0;
    margin: 0;
}

/*telephone*/
@media (max-width: 576px) {
    html {
        background-color: #F5F3E7;
    }
    .logo-img {
        max-width: 10%;
        height: auto;
        margin: 10px;
    }
    hr{
        border: none;
        height: 2px;
        background-color: #1B8728;
    }
    .header{
        background-color: #119822;
    }
    .reserveer-nummer {
        background-color: #119822;
        color: #f1f1f1;
        font-size: 1rem;
        padding: 5px;
        text-align: center;
       
    }
    .reserveer{
        font-family: 'playfair display', sans-serif;
        font-style: italic;
        font-weight: 600;

    }
    .menu{
        list-style: none;
        
    }
    li{
        margin-bottom: 5px;
    }
    .material-icons, .material-symbols-outlined{
        color: #f1f1f1;
       
        
    }
    .icons-logo{
        display: flex;
        align-items: center;
        margin-right: 25px;
    }
    .icons{
          margin-left: auto;
  display: flex;
  gap: 10px;
    }
    nav ul li a{
        display: flex;
        text-decoration: none;
        font-size: 2rem;
        background-color: #31440c;
        color: yellowgreen;
        border: 1vw solid #9acd32;
        width: 38vw;
        height: 8vh;
        margin-top: 1vh;
        justify-content: center;
        align-items: center;
        display: none;
    }
}