* {
    padding: 0;
    margin: 0;
}


 body {
        background-color: #F5F3E7;
    }
    .logo-img {
        max-width: 5%;
        height: auto;
        margin: 10px;
    }
    hr{
        border: none;
        height: 2px;
        background-color: #1B8728;
    }
    .header{
        background-color: #119822;
    }
    .reserveer-nummer {
        background-color: #119822;
        color: #f1f1f1;
        font-size: 1rem;
        padding: 5px;
        text-align: center;
       
    }
    .reserveer{
        font-family: 'playfair display', sans-serif;
        font-style: italic;
        font-weight: 600;

    }
    .menu{
        list-style: none;
        
    }
    li{
        margin-bottom: 5px;
    }
    .material-symbols-outlined{
        color: #f1f1f1;
       
        
    }
    .icons-logo{
        display: flex;
        align-items: center;
        margin-right: 25px;
    }
    .icons{
        margin-left: auto;
        display: flex;
        gap: 10px;
    }
    nav ul li a{
        display: flex;
        text-decoration: none;
        font-size: 2rem;
        background-color: #31440c;
        color: yellowgreen;
        border: 1vw solid #9acd32;
        width: 38vw;
        height: 8vh;
        margin-top: 1vh;
        justify-content: center;
        align-items: center;
        display: none;
        
    }
    .fotoGallerie {
        position: relative;
        margin-top: 2vh;        
    }
    .foto1 {
        max-width: 100%;
        border-radius: 8px;
        height: auto;

    }
    .foto2, .foto3, .foto4 {
        display: none;
        max-width: 100%;
        border-radius: 8px;
        height: auto;
    }
    .arrow{
        width: 4%;
        height: auto;
        position: absolute;
        fill: #ffffff;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
    .back {
        left: 1.5%;
    }
    .forward{
        right: 1.5%;
    }

    /*van hier moet het gecontroleerdt en aangepast*/
    .logoFooter img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
    }
    footer {
        background-color: #119822;
        margin-top: 5vh;
    }

    footer p {
        color: white;
    }

    .iconsFooter {
        width: 45%;
    }
    /*to hier*/
    .team-sec{
        text-align: center;
    }

    .team-foto{
        width: 45%;
        height: auto;
        margin-top: 4vh;
        margin-bottom: 2vh;
        border-radius: 10px;

    }
    .overOns{
        width: 75vw;
        margin-left: 16vw;
        font-size: 1.2rem;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        text-align: left;
        
    }
    button{
        background-color: #119822;
        border-radius: 0;
        font-size: 1rem;
        color: #ffffff;
        margin-top: 2vh;
        border: none;
        padding: 10px;


    }



/*telephone-landingspagina*/
@media (max-width: 576px) {
    .logo-img {
        max-width: 10%;
    }
    .arrow{
        width: 5%;
    }
   
}
/*tablet*/
@media (min-width: 576px) and (max-width: 991px) {
  

}
/*laptops*/
@media (min-width: 992px) and (max-width: 1199px)  {


}